.bg{
    height: 45vw;
    position: relative;
}

.bg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rectangle{
    width: 1420px; 
    height: 81.91px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    mix-blend-mode: multiply; 
    background: #f1b74a;
}

h1{
    width: 996px; 
    left: 100px; 
    top: 100px; 
    position: absolute; 
    color: #996B12; 
    font-size: 35px; 
    font-family: BioRhyme; 
    font-weight: 400; 
    word-wrap: break-word;
}

.line{
    width: 612px; 
    height: 0px; 
    left: 100px; 
    top: 150px; 
    position: absolute; 
    border: 3px #906410 solid;
}

p{
    left: 100px; 
    top: 150px; 
    position: absolute; 
    color: #996B12; 
    font-size: 20px; 
    font-family: Bitter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.p{
    left: 58px; 
    top: 180px; 
    position: absolute;
}

.p img{
    width: 400px; 
    height: 200px; 
}

h2{
    left: 51px; 
    top: 380px; 
    position: absolute; 
    color: #906410; 
    font-size: 32px; 
    font-family: Bitter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.p2 img{
    width: 519px; 
    height: 200px; 
    left: 39px; 
    top: 430px; 
    position: absolute;
}

h3{
    left: 925px; 
    top: 380px; 
    position: absolute; 
    color: #906410; 
    font-size: 32px; 
    font-family: Bitter; 
    font-weight: 500; 
    word-wrap: break-word;
}

.p3 img{
    width: 456px; 
    height: 200px; 
    left: 850px; 
    top: 430px; 
    position: absolute;
}

.button1{
    width: 131px; 
    height: 47.75px; 
    left: 600px; 
    top: 19px; 
    position: absolute; 
    color: #906410; 
    font-size: 26px; 
    font-family: Bitter; 
    font-weight: 600; 
    word-wrap: break-word;
}

.button2{
    width: 250px; 
    height: 47.75px; 
    left: 750px; 
    top: 19px; 
    position: absolute; 
    color: #906410; 
    font-size: 26px; 
    font-family: Bitter; 
    font-weight: 600; 
    word-wrap: break-word;
}

.button3{
    width: 200px; 
    height: 47.75px; 
    left: 950px; 
    top: 19px; 
    position: absolute; 
    color: #906410; 
    font-size: 26px; 
    font-family: Bitter; 
    font-weight: 600; 
    word-wrap: break-word;
}

.button4{
    width: 280px; 
    height: 47.75px; 
    left: 1140px; 
    top: 19px; 
    position: absolute; 
    color: #906410; 
    font-size: 26px; 
    font-family: Bitter; 
    font-weight: 600; 
    word-wrap: break-word;
}